#watermelons{
    height: 3rem;
    width: 15rem;
    background-color: coral;
    border: none;
    border-radius: 5px;
    margin-bottom: .6rem;

}
#apples{
    height: 3rem;
    width: 15rem;
    background-color: rgb(255, 80, 80);
    border: none;
    border-radius: 5px;
    margin-bottom: .6rem;

}